<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% load staticfiles %}
<script src="{% static "js/message.js" %}"></script>
<link href="{% static "css/main.css" %}" rel="stylesheet">
<link href="{% static "css/timetable.css" %}" rel="stylesheet">

<div class="chat_window">
	<div class="top_menu">
		<div class="buttons"><img width="35px" height="30px" src="{% static "img/M_logo.png" %}"></div>
		<div class="title">
			Movie Ticket Booking Bot
		</div>
		<div class="functions">
			<div class="button" id="show_table">
				<div class="text">Show Timetable</div>
			</div>
			<div class="button" id="mode" mode='text'>
				<div class="text">Show Dialog Act</div>
			</div>
			<div class="button" id="reset">
				<div class="text">Reset</div>
			</div>
		</div>
	</div>
	<ul class="messages"></ul>
	<div class="bottom_wrapper clearfix">
		<div class="message_input_wrapper">
			<input class="message_input" placeholder="Type your message here..." /></div>
		<div class="send_message"><div class="icon"></div>
			<div class="text">Send</div>
		</div>
	</div>
</div>
<div class="message_template">
	<li class="message">
		<div class="avatar"></div>
		<div class="text_wrapper">
			<div class="text"></div>
		</div>
	</li>
</div>
<table id="timetable">
  <tr>
	{% for k in keys %}
	<th>{{k}}</th>
	{% endfor %}
  </tr>
  {% for t in values %}
	<tr>
		{% for k, v in t.items %}
		<td>{{v}}</td>
		{% endfor %}
	</tr>
  {% endfor %}

</table>
